html,
body {
  height: 100%;
  width: auto;
  background-color: #161616;
  color: white;
}

  

  h1{
    padding-top: 3%;
    padding-bottom: 11%;
    font-size: 10rem;
    text-align: center;
    font-family: 'Neonderthaw', cursive;
  }
  p, h6{
    font-size: 2.5rem;
    text-align: center;
  }
  form{
   text-align: center;
  }

  .btn-lg{
    font-size: 2.5rem;
    padding:0 5% 0;
   margin-top: 8%;
  }
  h3{
font-family: 'dosis', sans-serif;
font-size: 1.2rem;

padding-top: 6%;
text-align: center;
  }
  a{
    text-decoration: none;
    color: #f0ffff;
  }
  a:hover{
    font-size: 1.2rem;
    color: turquoise;
  }
  @media only screen and (max-width: 768px) {
    h1{
      font-size: 7.5rem;
    }

    .main{
      margin-top: 8%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }